{%- for message in messages %}
{%- if message['role'] == 'user' %}
<|user|>
{{ message['content'] }}
<|assistant|>
{%- elif message['role'] == 'assistant' %}
{{ message['content'] }}
{%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
<|assistant|>
{%- endif %}